@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container {
		max-width: 750px;
	}
}
@media screen and (max-width: 790px) {
	.container {
		max-width: 550px;
	}
}

@media screen and (max-width: 1199px) {
  #rec268060704 .t396__artboard {}

  #rec268060704 .t396__filter {}

  #rec268060704 .t396__carrier {
      background-attachment: scroll;
  }
}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
  #rec268060704 .t396__artboard {
      height: 470px;
  }

  #rec268060704 .t396__filter {
      height: 470px;
  }

  #rec268060704 .t396__carrier {
      height: 470px;
  }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
    #rec268060704 .tn-elem[data-elem-id="1610559248777"] {
        top: -825px;
        left: calc(50% - 160px + 1091px);
    }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .t396__artboard {}

  #rec489970324 .t396__filter {}

  #rec489970324 .t396__carrier {
      background-attachment: scroll;
  }
}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 479px) {
  #rec489970324 .t396__artboard {
      height: 840px;
  }

  #rec489970324 .t396__filter {
      height: 840px;
  }

  #rec489970324 .t396__carrier {
      height: 840px;
  }
}
@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1470233923389"] {
      top: 86px;
      left: calc(50% - 480px + 9px);
      width: 940px;
  }

  #rec489970324 .tn-elem[data-elem-id="1470233923389"] .tn-atom {
      font-size: 24px;
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1470233923389"] {
      top: 23px;
      left: calc(50% - 320px + 10px);
      width: 630px;
  }

  #rec489970324 .tn-elem[data-elem-id="1470233923389"] .tn-atom {
      font-size: 24px;
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1470233923389"] {
      top: 43px;
      left: calc(50% - 240px + 10px);
      width: 460px;
  }

  #rec489970324 .tn-elem[data-elem-id="1470233923389"] .tn-atom {
      font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1470233923389"] {
      top: 30px;
      left: calc(50% - 160px + 10px);
      width: 310px;
  }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1610216584518"] {
      top: 379px;
      left: calc(50% - 480px + 10px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610216584518"] .tn-atom {
      font-size: 24px;
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1610216584518"] {
      top: 318px;
      left: calc(50% - 320px + 231px);
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1610216584518"] {
      top: 332px;
      left: calc(50% - 240px + 150px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610216584518"] .tn-atom {
      font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1610216584518"] {
      top: 521px;
      left: calc(50% - 160px + 10px);
      width: 300px;
  }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1610216593641"] {
      top: 379px;
      left: calc(50% - 480px + 605px);
      width: 290px;
  }

  #rec489970324 .tn-elem[data-elem-id="1610216593641"] .tn-atom {
      font-size: 24px;
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1610216593641"] {
      top: 484px;
      left: calc(50% - 320px + 231px);
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1610216593641"] {
      top: 495px;
      left: calc(50% - 240px + 150px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610216593641"] .tn-atom {
      font-size: 22px;
  }
}

@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1610216593641"] {
      top: 670px;
      left: calc(50% - 160px + 10px);
  }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1610218290655"] {
      top: 322px;
      left: calc(50% - 480px + 389px);
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1610218290655"] {
      top: 265px;
      left: calc(50% - 320px + 10px);
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1610218290655"] {
      top: 290px;
      left: calc(50% - 240px + 10px);
      width: 121px;
  }
}

@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1610218290655"] {
      top: 344px;
      left: calc(50% - 160px + 100px);
  }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1610362398015"] {
      top: 303px;
      left: calc(50% - 480px + 7px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362398015"] .tn-atom {
      font-size: 54px;
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1610362398015"] {
      top: 242px;
      left: calc(50% - 320px + 228px);
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1610362398015"] {
      top: 269px;
      left: calc(50% - 240px + 147px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362398015"] .tn-atom {
      font-size: 48px;
  }
}

@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1610362398015"] {
      top: 469px;
      left: calc(50% - 160px + 7px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362398015"] .tn-atom {
      font-size: 36px;
  }
}

@media screen and (max-width: 1199px) {
  #rec489970324 .tn-elem[data-elem-id="1610362430764"] {
      top: 303px;
      left: calc(50% - 480px + 603px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362430764"] .tn-atom {
      font-size: 54px;
  }
}

@media screen and (max-width: 959px) {
  #rec489970324 .tn-elem[data-elem-id="1610362430764"] {
      top: 408px;
      left: calc(50% - 320px + 229px);
  }
}

@media screen and (max-width: 639px) {
  #rec489970324 .tn-elem[data-elem-id="1610362430764"] {
      top: 432px;
      left: calc(50% - 240px + 148px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362430764"] .tn-atom {
      font-size: 48px;
  }
}
@media screen and (max-width: 479px) {
  #rec489970324 .tn-elem[data-elem-id="1610362430764"] {
      top: 615px;
      left: calc(50% - 160px + 8px);
  }

  #rec489970324 .tn-elem[data-elem-id="1610362430764"] .tn-atom {
      font-size: 36px;
  }
}

/* Стили для маленьких экранов (мобильных устройств) */
@media only screen and (max-width: 767px) {
  .accordion {
    border-radius: 0;
    margin-bottom: 10px; /* добавляем отступ между аккордионами */
  }

  .accordion-header {
    padding: 12px; /* увеличиваем отступы для удобства нажатия */
    font-size: 18px; /* увеличиваем размер шрифта заголовка */
  }

  .accordion-body {
    padding: 12px; /* увеличиваем отступы внутри аккордиона */
  }

  .accordion-header span {
    white-space: normal; /* позволяем тексту переноситься */
    overflow: visible; /* отображаем весь текст без обрезки */
    text-overflow: initial; /* отключаем обрезку текста с многоточием */
  }
}
@media screen and (max-width: 1384px){
	@media (max-width: 1000px) {
		.header__wrap .menu {
		  display: none;
		}
		.hamb {
		  display: flex;
		  align-items: center;
		}
	  
		.hamb__field {
		  padding: 10px 20px;
		  cursor: pointer;
		}
	  
		.bar {
		  display: block;
		  width: 30px;
		  height: 3px;
		  margin: 6px auto;
		  background-color: #fff;
		  transition: 0.2s;
		}
	  
		.popup {
		  position: fixed;
		  top: 75px;
		  left: -100%;
		  width: 100%;
		  height: 100%;
		  background-color: #fff;
		  z-index: 100;
		  display: flex;
		  transition: 0.3s;
		}
	  
		.popup.open {
		  left: 0;
		}
	  
		.popup .menu {
		  width: 100%;
		  height: 100%;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  justify-content: start;
		  padding: 50px 0;
		  overflow: auto;
		}
	  
		.popup .menu > li {
		  width: 100%;
		}
	  
		.popup .menu > li > a {
		  width: 100%;
		  display: flex;
		  justify-content: center;
		  padding: 20px 0;
		  font-size: 20px;
		  font-weight: bold;
		  color: #3f3f3f;
		}
	  
		.popup .menu > li > a:hover {
		  background-color: rgba(122, 82, 179, 0.1);
		}
	  
		.hamb__field.active .bar:nth-child(2) {
		  opacity: 0;
		}
	  
		.hamb__field.active .bar:nth-child(1) {
		  transform: translateY(8px) rotate(45deg);
		}
	  
		.hamb__field.active .bar:nth-child(3) {
		  transform: translateY(-8px) rotate(-45deg);
		}
	  
		body.noscroll {
		  overflow: hidden;
		}
  }
}