
* {
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.btn {
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  transition: 0.3s;
}

.btn:hover {}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 10px;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition:.4s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px;
}


.arrow {
  transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
  transition: .5s;
}


.questions-tit {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  color:#5e7e33;
}

.accordion-header span{
  font-family: 'Cormorant Infant';
  font-size: 23px;
  font-weight: 400px;
}

.accordion-body p{
  font-family: 'Cormorant Infant';
  font-size: 18px ;
  font-weight: 400;
}

svg{
  width: 30px;
  height: 30px;
  background: #b4ec6b;
  border-radius: 10px;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content/Box */
	.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	}
	
	/* The Close Button */
	.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	}

	.does_img{
		width: 73%;
	}
  .svg_does_arrow{
    margin: 3% 0;
  }
	.does_work_img{
		text-align: center;
		justify-content: center;
		display: flex;
	}
	.does_work_btn{
		padding: 10px 30px;
		/* box-shadow: 1px 1px 1px 1px #bcfa6c; */
		background: #1c8eda;
		border-radius: 12px;
		transition: 0.3s;
		color: rgb(225, 225, 225);
		margin:2% 45%;
		width: 75%; 	
		}

	.does_work_btn:hover{
		background: #909090;
		color: #ffffff;
	}
	.does_work_all_txt{
		justify-content: center;
		display: flex;

	}
	.does_works{
		background: #366a53;
		padding: 65px;
	}
	.does_work_txt{
		color:#aaade7 ;
		font-size: 23px;
    margin-top: 10%;
	}

	.svg_does_arrow img{
mix-blend-mode: multiply;
	}


/* arrow */
#svgArrow {
	width: 14%;
	margin-left: 45%;
  }
.svg_does_arrow svg{
  background: none;
}