html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: 'Cormorant', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.btn {
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  transition: 0.3s;
}

.btn:hover {}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* header */

header {
  background: #14503E;
} 

.main {
  padding: 15px;
}

.logo {
  width: 45px;
  height: 45px;
}

.text {
  padding: 15px;
  font-size: 23px;
  padding-left: 60px;
  color: #ffff;
}

.main_txt {
  padding-right: 120px;
}

/* eot */

.eot {
  background: #14503E;
}

.eot_logo {
  width: 200px;
  height: 200px;
  margin: auto;
}

.eot_txt {
  font-size: 65px;
  color: #b3ff00;
  text-align: center;
}
.eot_text {
  font-size: 62px;
  padding: 15px 0 0 0 ;
}



#rec268060704 .t396__artboard {
  height: 520px;
  background-color: #14503E;
  overflow: visible;
}

#rec268060704 .t396__filter {
  height: 520px;
}

#rec268060704 .t396__carrier {
  height: 520px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

#rec268060704 .tn-elem[data-elem-id="1610194594752"] {
  z-index: 8;
  top: -860px;
  left: calc(50% - 600px + -1610px);
  width: 1636px;
}

#rec268060704 .tn-elem[data-elem-id="1610194594752"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec268060704 .tn-elem[data-elem-id="1610559248777"] {
  z-index: 10;
  top: -795px;
  left: calc(50% - 600px + 1240px);
  width: 1146px;
}

#rec268060704 .tn-elem[data-elem-id="1610559248777"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .t396__artboard {
  height: 620px;
  background-color: #14503E;
  overflow: visible;
}

#rec489970324 .t396__filter {
  height: 620px;
}

#rec489970324 .t396__carrier {
  height: 620px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

#rec489970324 .tn-elem[data-elem-id="1470233923389"] {
  color: #ffffff;
  z-index: 8;
  top: 64px;
  left: calc(50% - 600px + 20px);
  width: 1110px;
}

#rec489970324 .tn-elem[data-elem-id="1470233923389"] .tn-atom {
  color: #ffffff;
  font-size: 28px;
  font-family: 'FuturaPT', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .tn-elem[data-elem-id="1610216584518"] {
  color: #14503E;
  z-index: 9;
  top: 391px;
  left: calc(50% - 600px + 20px);
  width: 400px;
}

#rec489970324 .tn-elem[data-elem-id="1610216584518"] .tn-atom {
  color: #14503E;
  font-size: 28px;
  font-family: 'FuturaPT', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .tn-elem[data-elem-id="1610216593641"] {
  color: #14503E;
  z-index: 11;
  top: 391px;
  left: calc(50% - 600px + 781px);
  width: 330px;
}

#rec489970324 .tn-elem[data-elem-id="1610216593641"] .tn-atom {
  color: #14503E;
  font-size: 28px;
  font-family: 'FuturaPT', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .tn-elem[data-elem-id="1610218290655"] {
  z-index: 12;
  top: 319px;
  left: calc(50% - 600px + 520px);
  width: 161px;
}

#rec489970324 .tn-elem[data-elem-id="1610218290655"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .tn-elem[data-elem-id="1610362398015"] {
  color: #14503E;
  z-index: 13;
  top: 291px;
  left: calc(50% - 600px + 17px);
  width: 360px;
}

#rec489970324 .tn-elem[data-elem-id="1610362398015"] .tn-atom {
  color: #14503E;
  font-size: 68px;
  font-family: 'FuturaPT', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec489970324 .tn-elem[data-elem-id="1610362430764"] {
  color: #14503E;
  z-index: 14;
  top: 291px;
  left: calc(50% - 600px + 777px);
  width: 330px;
}

#rec489970324 .tn-elem[data-elem-id="1610362430764"] .tn-atom {
  color: #14503E;
  font-size: 68px;
  font-family: 'FuturaPT', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

/* accordion */


.accordion {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 10px;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .3s
}

.accordion-body.active {
  height: 100%;
  opacity: 1;

  padding: 5px;
}


.arrow {
  transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
}


.questions-tit {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Manrope';
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
  color:#5e7e33;
}

.accordion-header span{
  font-family: 'Manrope';
  font-size: 23px;
  font-weight: 400px;
}

.accordion-body p{
  font-family: 'Manrope';
  font-size: 18px ;
  font-weight: 400;
  padding:0 40px;
}
