@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



* {
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.btn {
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  transition: 0.3s;
}

.btn:hover {}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  margin-bottom: 10px;
}

.accordion-header span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition:.4s;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px;
}


.arrow {
  transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
  transform: rotate(180deg);
  transition: .5s;
}


.questions-tit {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Lobster';
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  color:#2f70af ;
}

.accordion-header span{
  font-family: 'Cormorant Infant';
  font-size: 23px;
  font-weight: 400px;
}

.accordion-body p{
  font-family: 'Cormorant Infant';
  font-size: 18px ;
  font-weight: 400;
}

svg{
  background: rgb(119, 184, 250) ;
  width: 45px;
  height: 45px;
  border-radius: 20px;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content/Box */
	.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	}
	
	/* The Close Button */
	.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	}

	.does_img{
		width: 73%;
	}
  .svg_does_arrow{
    margin: 3% 0;
  }
	.does_work_img{
		text-align: center;
		justify-content: center;
		display: flex;
	}
	.does_work_btn{
		padding: 10px 30px;
		/* box-shadow: 1px 1px 1px 1px #bcfa6c; */
		background: #1c8eda;
		border-radius: 12px;
		transition: 0.3s;
		color: rgb(225, 225, 225);
		margin:2% 45%;
		width: 75%; 	
		}

	.does_work_btn:hover{
		background: #909090;
		color: #ffffff;
	}
	.does_work_all_txt{
		justify-content: center;
		display: flex;

	}
	.does_works{
		background: #366a53;
		padding: 65px;
	}
	.does_work_txt{
		color:#aaade7 ;
		font-size: 23px;
    margin-top: 10%;
	}

	.svg_does_arrow img{
mix-blend-mode: multiply;
	}


/* arrow */
#svgArrow {
	width: 14%;
	margin-left: 45%;
  }
.svg_does_arrow svg{
  background: none;
}


.footer {
  position: relative;
  width: 100%;
  background-color: #2f70af  ;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
  filter: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(526%) hue-rotate(170deg) brightness(100%) contrast(83%);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*veshalka*/
.btn-up {
  z-index: 100;
	/* фиксированное позиционирование */
	position: fixed;
	/* цвет фона */
	background-color: rgb(0 203 57);
	/* расстояние от правого края окна браузера */
	right: 20px;
	/* расстояние от нижнего края окна браузера */
	bottom: 0;
	/* скругление верхнего левого угла */
	border-top-left-radius: 8px;
	/* скругление верхнего правого угла */
	border-top-right-radius: 8px;
	/* вид курсора */
	cursor: pointer;
	/* отображение элемента как flex */
	display: flex;
	/* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
	align-items: center;
	/* выравниваем элементы внутри элемента по центру вдоль главной оси */
	justify-content: center;
	/* ширина элемента */
	width: 60px;
	/* высота элемента */
	height: 50px;
  }
  
  .btn-up::before {
	content: "";
	width: 40px;
	height: 40px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url(../img/veshalka-up.svg);
  }
  
  .btn-up_hide {
	display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
	  background-color: #512da8; /* цвет заднего фона при наведении */
	}
  }